{{>partials/header}}
<form method="get">
    <h1>Qual seu nome?</h1>
    <input type="text" name="nome" placeholder="Digite seu nome">
    <input type="submit" value="Enviar">

    <h1> Qual é sua idade?</h1>
    <input type="number" name="idade" placeholder="Digite sua idade">
    <input type="submit" value="Enviar">

    <h1>Qual é seu telefone?</h1>
    <input type="number" name="telefone" placeholder="Digite seu telefone">
    <input type="submit" value="Enviar">

    <h1>Qual é seu endereço?</h1>
    <input type="text" name="endereco" placeholder="Digite seu endereço">
    <input type="submit" value="Enviar">
</form>

<br>

{{#nome}}

    Nome: {{nome}}

{{/nome}}

    <br>

{{#idade}}

    Idade: {{idade}}

{{/idade}}

    <br>

{{#telefone}}

    Telefone: {{telefone}}

{{/telefone}}

    <br>

{{#endereco}}

    Endereço: {{endereco}}

{{/endereco}}


{{>partials/footer}}